<section vocab="http://schema.org/" typeof="PostalAddress">
  <span property="streetAddress">rennes</span>
  <span property="streetAddress">135 n. 3rd Street</span>
  <span property="addressLocality">Philadelphia</span>,
  <span property="addressRegion">PA</span>
  <span property="postalCode">19106</span>
</section>
