{% comment %}
This could be done with a set of menus defined in shopify, grouped by first
letter, or possibly just one big list and then looping with here with a series
of filters based on first letter.
{% endcomment %}
<ul class="designers">
  <li>a.
    <ul>
    <li><a href="/collections/anaak">anaak</a></li>
      <li><a href="/collections/album-di-famiglia">album di famiglia</a></li>
      <li><a href="/collections/antipast">antipast</a></li>
      <li><a href="/collections/atelier-baba">atelier bâba</a></li>
      <li><a href="/collections/apuntob">apunto b</a></li>
      <li><a href="/collections/arts-science">arts & science</a></li>
      <li><a href="/collections/asciari">asciari</a></li>
    </ul>
  </li>
  <li>b.
    <ul>
      <li><a href="/collections/baserange">baserange</a></li>
      <li><a href="/collections/bddw-m-crow">bddw &amp; m. crow</a></li>
      <li><a href="/collections/bensimon">bensimon</a></li>
      <li><a href="/collections/bergfabel">bergfabel</a></li>
      <li><a href="/collections/blue-blue-japan">blue blue japan</a></li>
    </ul>
  </li>
  <li>c.
    <ul>
      <li><a href="/collections/casey-casey">casey casey</a></li>
    </ul>
  </li>
  <li>d.
    <ul>
      <li><a href="/collections/drogheria-crivellini">drogheria crivellini</a></li>
    </ul>
  </li>
  <li>e.
    <ul>
      <li><a href="/collections/eatable-of-many-orders">eatable of many orders</a></li>
      <li><a href="/collections/eka">eká</a></li>
      <li><a href="/collections/elsa-esturgie">elsa esturgie</a></li>
      <li><a href="/collections/eva-masaki">eva masaki</a></li>
      <li><a href="/collections/evam-eva">evam eva</a></li>
    </ul>
  </li>
  <li>f.
    <ul>
      <li><a href="/collections/feldspar">feldspar</a></li>
    </ul>
  </li>
  <li>g.
    <ul>
      <li><a href="/collections/gallego-desportes">gallego desportes</a></li>
    </ul>
  </li>
  <li>i.
    <ul>
      <li><a href="/collections/ichi">ichi antiquités</a></li>
    </ul>
  </li>
  <li>k.
    <ul>
      <li><a href="/collections/karu">karu</a></li>
      <li><a href="/collections/khadi">khadi & co</a></li>
    </ul>
  </li>
  <li>l.
    <ul>
      <li><a href="/collections/le-vestiaire-de-jeanne">le vestiaire de jeanne</a></li>
    </ul>
  </li>
  <li>m.
    <ul>
      <li><a href="/collections/maison-de-soil">maison de soil</a></li>
      <li><a href="/collections/maku">maku</a></li>
      <li><a href="/collections/mature-ha">mature ha</a></li>
      <li><a href="/collections/melete">melete</a></li>
      <li><a href="/collections/misha-and-puff">misha &amp; puff</a></li>
    </ul>
  </li>
  <li>n.
    <ul>
      <li><a href="/collections/nina-donis">nina donis</a></li>
      <li><a href="/collections/notary">notary ceramics</a></li>
    </ul>
  </li>
  <li>p.
    <ul>
      <li><a href="/collections/pip-squeak-chapeau">pip-squeak chapeau</a></li>
      <li><a href="/collections/pla">pla</a></li>
    </ul>
  </li>
  <li>r.
    <ul>
      <li><a href="/collections/rennes">rennes</a></li>
      <li><a href="/collections/renli-su">renli su</a></li>
      <li><a href="/collections/runaway-bicycle">runaway bicycle</a></li>
    </ul>
  </li>
  <li>s.
    <ul>
      <li><a href="/collections/samuel-snider">samuel snider</a></li>
      <li><a href="/collections/sara-lanzi">sara lanzi</a></li>
      <li><a href="/collections/shoes-like-pottery">shoes like pottery</a></li>
      <li><a href="/collections/sula">sula</a></li>
      <li><a href="/collections/sylvain-le-hen">sylvain le hen</a></li>
    </ul>
  </li>
  <li>t.
    <ul>
      <li><a href="/collections/tatarou-and-tatamba">tatarou & tatamba</a></li>
    </ul>
  </li>
  <li>v.
    <ul>
      <li><a href="/collections/veritecoeur">veritecoeur</a></li>
    </ul>
  </li>
 <li>z.
    <ul>
<li><a href="/collections/zilla">zilla</a></li>
      </ul>
  </li>
