{% comment %}
Loop over all collections, showing links and a small preview.
/collections
{% endcomment %}
<article class="collections">
{% for collection in collections %}
    {% capture collection_title %}{% endcapture %}
    <section class="products">
    <h2>
      <a href="{{ collection.url }}">{{ collection.title | escape }}</a>
    </h2>
      {% for product in collection.products limit:settings.collection_list_product_num %}
        {% assign product_context = 'collection' %}
        {% include 'product_vars' %}
        {% include 'collection_item' %}
      {% endfor %}
    </section>
{% endfor %}
</article>
