{% comment %}
By deafult a view of all products for a single collection.  In specific cases
(currently just for the "designers" collection) show something different
instead, defined by another snippet.
/
/collection/(collection_name)
{% endcomment %}
{% assign collection_paginate_num = 30 %}
{% if collection.title == 'Designers' %}
{% include 'collection_designers' %}
{% else %}
  <article class="products">
        
{%- paginate collection.products by collection_paginate_num -%}
        
    {% for product in collection.products %}
    {% assign product_context = 'collection' %}
    {% include 'product_vars' %}
    {% include 'collection_item' %}
    {%- endfor %}
    {% if paginate.next.is_link %}
      <nav><a href="{{ paginate.next.url }}" rel="next">I'd like to see more</a></nav>
	  {%- endif -%}
{% endpaginate %}
    </article>
{% endif %}
