  <article class="products">
        
{%- paginate collection.products by 30 -%}
        
    {% for product in collection.products %}
    {% assign product_context = 'collection' %}
    {% include 'product_vars' %}
    {% include 'collection_item' %}
    {%- endfor %}
    {% if paginate.next.is_link %}
      <nav><a href="{{ paginate.next.url }}" rel="next">I'd like to see more</a></nav>
	  {%- endif -%}
{% endpaginate %}
    </article>
