<section id="instafeed">
  <span>join the fun <a href="https://www.instagram.com/{{ settings.instagram_handle }}/">@{{ settings.instagram_handle }}</a></span>
  <div id="instagramfeed"></div>
</section>
