<section class="mailing-list">
  <p>please join our community for shop updates, news, sales, and events.</p>
  <p> we will only send good things, we promise.</p>
  <form action="{{ settings.mailing_list_form_target }}" method="post" target="_blank">
    <label for="EMAIL">Email:</label>
    <input type="email" value="" name="EMAIL" id="EMAIL" tabindex="2">
    <button name="subscribe" type="submit" tabindex="3">Join</button>
  </form>
</section>
