      <form action="/search" method="get" role="search">
        <input type="text" name="q" value="{{ search.terms | escape }}">
        <input type="hidden" name="type" value="product">
        <input type="submit" value="" title="search">
      </form>
