.mailing-list {
  padding: 1em;
  text-align: center;
  text-transform: lowercase;
}

.mailing-list label {
  display: block;
}
.mailing-list input[type="email"] {
  border: none;
  border-bottom: 1px solid black;
  outline-width: 0;
  width: 15em;
}
