/*
 *
 * Postal Address
 *
 * */

section[typeof="PostalAddress"] {
  padding: 1em;
  position: relative;
  text-align: center;
  text-transform: lowercase;
}

section[typeof="PostalAddress"] span[property="streetAddress"] {
  display: block;
}
