/*
 *
 * Basic page layout and organization
 *
 * */

/*
TODO: template out or automate these things:
  min-width for product in collection
  max-width for product in collection
  fade timing for product hover in collection
  fade colors for product hover in collection
*/

/*
 *
 * Default element styling for the site
 *
 * */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

body {
  font-family: "Nanum Myeongjo", serif;
  padding: 5px;
}

input,
button {
  font-family: "Nanum Myeongjo", serif;
}

/* LINKS
 *
 * Generally, underline on hover.  For links embedded in text (defined as text
 * in paragraph tags or product descriptions) we'll always underline, for
 * clarity.
 * */

a {
  color: initial;
  font-weight: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article[typeof=Product] div a,
p a {
  text-decoration: underline;
}

abbr {
  text-decoration: none;
}

s {
  color: gray;
}

nav li {
  padding-right: 0.5vw;
}

/* In general we have big round buttons that get a border on hover. */
button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  font-size: inherit;
  margin: 5px auto;
  padding: 0;
  width: 6em;
  height: 6em;
  border-radius: 3em;
}

button:hover {
  border: 1px solid black;
}

/* Disabled buttons are in gray with a special cursor. */
button:disabled {
  border: 1px solid lightgray;
}

button[disabled]:hover {
  cursor: not-allowed;
  border: 1px solid lightgray;
}

/* Alternate button styling on small screens: always a border. */
@media only screen and (max-width: 600px) {
  button {
    border: 1px solid black;
  }
}

/*
 *
 *  Header and navigation
 *
 * */

/* In general the header will be flex with a few items stacked vertically. */
body > header {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: lowercase;
  white-space: nowrap;
}

body > header > div > form,
body > header > div > a {
  padding: 10px 0 10px 10px;
}

/* ****************
 * Wide-format header for large screens
 * ***************/
@media only screen and (min-width: 740px) {
  body > header {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 1fr auto 1fr;

    /* DRAFT: https://drafts.csswg.org/css-align-3/#propdef-justify-items */
    justify-items: center; /* W3C draft */
  }

  body > header > :nth-child(1) {
    grid-column-start: 2;
  }

  body > header > :nth-child(2) {
    display: flex;
    margin-left: auto;
  }
}

/* **************** */

/* navigation in general */
nav {
  text-transform: lowercase;
}

nav ul {
  list-style-type: none;
  padding-left: 10px;
}

/* With the default small-screen layout, center the main navs */
nav.main ul {
  text-align: center;
}

/* Main site title */
header > h1 {
  font-size: 550%;
  margin: 1.5vw 0 2vw 0;
  text-transform: lowercase;
}

header > h1 a,
header > h1 a:hover {
  text-decoration: none;
}

/* ****************
 * Fixed heading and navigation links for large screens
 * ***************/
@media only screen and (min-width: 740px) {
  /* navigation menus in general */
  nav {
    margin: 10px;
  }

  /* Undo the centering on larger screens */
  nav.main ul {
    text-align: initial;
  }

  /* product navigation on one side */
  .product-nav {
    float: left;
    width: 160px;
  }

  /* site navigation */
  .site-nav {
    clear: both;
    float: left;
  }

  /* The main nav elements with lists of links */
  nav.main {
    margin: 5px;
  }

  nav.main > ul {
    padding-left: 0;
  }

  nav.main > ul > li {
    margin-bottom: 10px;
  }

  main {
    /* leave room for header and product-nav */
    margin-left: 180px;
  }
}

/* **************** */

main > section {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 20px;
  position: relative;
}

/* sections directly within main get a divider
 * SO 4131490
 * TODO fix that the first one seems pinned to the top of the page */
main > section::after {
  border-top: 1px solid gray;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* large screens get more subtle divider */
@media only screen and (min-width: 740px) {
  main > section::after {
    border-top: 1px solid lightgray;
    left: 20%;
    width: 60%;
  }
}

/*
 *
 *  Pop-up circle
 *
 * */

.popup {
  background: white;
  border: 1px solid gray;
  border-radius: 250px;
  height: 500px;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 500px;
  z-index: 99;
}

.popup .closebutton {
  background: white;
  font-weight: bold;
  height: 25px;
  left: 50%;
  line-height: 25px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 5px;
  transform: translateX(-50%);
  width: 25px;
}

.popup > div {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: initial;
}

/* A placeholder for preformatted text while troubleshooting */
.debug {
  display: none;
  font-family: monospace;
  white-space: pre-wrap;
  border: 1px solid #666;
  padding: 3px;
  margin: 3px auto;
  max-width: 60em;
}
