/*
 *
 * One-off pages
 *
 * */

article.page {
  margin-left: auto;
  margin-right: auto;
  max-width: 60em;
  min-width: 8em;
}

article.page p {
  max-width: 60em;
  min-width: 8em;
  text-align: justify;
}

article.page h1,
article.page h2,
article.page h3 {
  text-align: center;
}

/*
 * Two-column layout for individual pages as activated by choosing the
 * page.columns template in the UI.
 *
 * */

/* TODO make this look OK at small sizes */

article.columns {
  margin: 0 auto;
}

article.columns img {
  float: left;
  min-width: 200px;
  padding-right: 20px;
  width: calc(50% - 20px);
}

article.columns .right {
  float: right;
  padding: 40px;
  width: calc(50% - 80px);
}
