/*
 *
 * Cart - layout
 *
 * */

form[action="/cart"] {
  text-align: center;
}

form[action="/cart"] table {
/*  width: 100%;*/
  margin-left: auto;
  margin-right: auto;
}

/* Product images will be 20% of the viewport height (but at least 100px). */
form[action="/cart"] table img {
  height: 20vh;
  min-height: 100px;
}

/* Aside from the table of items, there's a controls container with the buttons
 * and such. */
form[action="/cart"] div.controls {
  margin-left: auto;
  margin-right: auto;
  max-width: 60em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Switch from the default centered block object to a small margin for
 * side-by-side buttons. */
form[action="/cart"] div.controls button {
  margin: 5px;
}

form[action="/cart"] div.controls label[for="checkout-warning"] {
  display: block;
  margin: 1em auto 5px auto;
}

/* On wide enough screens, show to full "Remove" text (rather than just the
 * abbreviation).  TODO remove the X. */
/* Couldn't get this to work: https://stackoverflow.com/a/22054588 */
@media only screen and (min-width: 600px) {
form[action="/cart"] tbody td:last-child a abbr::after {
  content: attr(title);
}
}
/*
 *
 * Cart - styling
 *
 * */

/* Main cart table properties */

/* Borders on parent elements of td/th in tables don't seem to work unless we
 * collapse borders  */
form[action="/cart"] table {
  border-collapse: collapse;
}

/* Padding inside all the table cells, proportional to the viewport size. */
form[action="/cart"] td,
form[action="/cart"] th {
  padding: 1vh 2vw;
}

/* Cart table header */

/* "Options" column can be left implicit */
form[action="/cart"] thead th:last-child,
form[action="/cart"] tfoot td:last-child {
  display: none;
}

form[action="/cart"] thead th {
  font-weight: normal;
}
form[action="/cart"] thead tr {
  border-bottom: 1px solid #999;
}
form[action="/cart"] tfoot tr:first-child {
  border-top: 1px solid #999;
}

/* Cart table body */

/* product image */
form[action="/cart"] tbody td:first-child {
  text-align: right;
}

/* product title */
form[action="/cart"] tbody th[scope=row] {
  text-align: left;
}

/* Quantity box */
form[action="/cart"] tbody td input[type=text] {
  width: 3em;
}

/* "Remove" link */
form[action="/cart"] tbody td:last-child a {
  color: #aaa;
}
form[action="/cart"] tbody td:last-child a:hover {
  color: #777;
}

/*****************************************************************************/

/* Adapted from:
 * https://css-tricks.com/responsive-data-tables/
 * THANKS!
 * */

@media only screen and (max-width: 600px) {

  /* Force table to not be like tables anymore */
  form[action="/cart"] table,
  form[action="/cart"] thead,
  form[action="/cart"] tbody,
  form[action="/cart"] tfoot,
  form[action="/cart"] th,
  form[action="/cart"] td,
  form[action="/cart"] tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  form[action="/cart"] thead tr {
    left: -9999px;
    position: absolute;
    top: -9999px;
  }

  form[action="/cart"] tbody tr { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }

  form[action="/cart"] tbody td,
  form[action="/cart"] tbody th {
    /* Behave  like a "row" */
    border: none;
    position: relative;
  }

  form[action="/cart"] tbody th[scope="row"] {
    text-align: center;
  }
  form[action="/cart"] tfoot td { padding: 0; }
  form[action="/cart"] tfoot { padding: 1em 0; }
  form[action="/cart"] tfoot tr:first-child { border-top: none; }

  /* Label the data */
  /* The first one is just an image so we'll style it up special */
  form[action="/cart"] tbody td:nth-of-type(1) {
    padding-left: initial;
    text-align: center;
  }
  /* The rest get labels.  But careful now, I'm using a th for one.  */
  form[action="/cart"] tbody td:nth-of-type(2):before { content: "Price: "; }
  form[action="/cart"] tbody td:nth-of-type(3):before { content: "Quantity: "; }
  form[action="/cart"] tbody td:nth-of-type(4):before { content: "Total: "; }


  /* With this layout, we can afford to use a bit more of the viewport height
   * on the images.*/
  form[action="/cart"] table img {
    height: 30vh;
  }
} 
