/*
 *
 * Cart - layout
 *
 * */

form[action="/cart"] {
  text-align: center;
}

form[action="/cart"] table {
/*  width: 100%;*/
  margin-left: auto;
  margin-right: auto;
}

/* Product images will be 20% of the viewport height (but at least 100px). */
form[action="/cart"] img {
  height: 20vh;
  min-height: 100px;
}

form[action="/cart"] label[for="checkout-warning"] {
  display: block;
  margin: 1em auto;
  max-width: 60em;
}

/* On wide enough screens, show to full "Remove" text (rather than just the
 * abbreviation).  TODO remove the X. */
/* Couldn't get this to work: https://stackoverflow.com/a/22054588 */
@media only screen and (min-width: 600px) {
form[action="/cart"] tbody td:last-child a abbr::after {
  content: attr(title);
}
}
/*
 *
 * Cart - styling
 *
 * */

/* Main cart table properties */

/* Borders on parent elements of td/th in tables don't seem to work unless we
 * collapse borders  */
form[action="/cart"] table {
  border-collapse: collapse;
}

/* Padding inside all the table cells, proportional to the viewport size. */
form[action="/cart"] td,
form[action="/cart"] th {
  padding: 1vh 2vw;
}

/* Cart table header */

/* "Options" column can be left implicit */
form[action="/cart"] thead th:last-child,
form[action="/cart"] tfoot td:last-child {
  display: none;
}

form[action="/cart"] thead th {
  font-weight: normal;
}
form[action="/cart"] thead tr {
  border-bottom: 1px solid #999;
}
form[action="/cart"] tfoot tr:first-child {
  border-top: 1px solid #999;
}

/* Cart table body */

/* product image */
form[action="/cart"] tbody td:first-child {
  text-align: right;
}

/* product title */
form[action="/cart"] tbody th[scope=row] {
  text-align: left;
}

/* Quantity box */
form[action="/cart"] tbody td input[type=text] {
  width: 3em;
}

/* "Remove" link */
form[action="/cart"] tbody td:last-child a {
  color: #aaa;
}
form[action="/cart"] tbody td:last-child a:hover {
  color: #777;
}

/*****************************************************************************/

/* Adapted from:
 * https://css-tricks.com/responsive-data-tables/
 * THANKS!
 * */

@media only screen and (max-width: 600px) {

  /* Force table to not be like tables anymore */
  form[action="/cart"] table,
  form[action="/cart"] thead,
  form[action="/cart"] tbody,
  form[action="/cart"] tfoot,
  form[action="/cart"] th,
  form[action="/cart"] td,
  form[action="/cart"] tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  form[action="/cart"] thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  form[action="/cart"] tbody tr { border: 1px solid #ccc; }

  form[action="/cart"] tbody td,
  form[action="/cart"] tbody th {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 30%;
  }

  form[action="/cart"] tbody th[scope="row"] {
    text-align: center;
  }
  form[action="/cart"] tfoot td { padding: 0; }
  form[action="/cart"] tfoot { padding: 1em 0; }
  form[action="/cart"] tfoot tr:first-child { border-top: none; }

  form[action="/cart"] tbody td:before ,
  form[action="/cart"] tbody th:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 25%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /* Label the data */
  /* The first one is just an image so we'll style it up special */
  form[action="/cart"] tbody td:nth-of-type(1) {
    padding-left: initial;
    text-align: center;
  }
  /* The rest get labels.  But careful now, I'm using a th for one.  */
  form[action="/cart"] tbody th:nth-of-type(1):before { content: "Item:"; }
  form[action="/cart"] tbody td:nth-of-type(2):before { content: "Price:"; }
  form[action="/cart"] tbody td:nth-of-type(3):before { content: "Qty:"; }
  form[action="/cart"] tbody td:nth-of-type(4):before { content: "Total:"; }
  form[action="/cart"] tbody td:nth-of-type(5):before { content: "Options:"; }
} 
