<h2>Page not Found</h2>

	<p>I'm sorry the page you're looking for isn't here!  Please visit some of the other lovely pages of the shop!</p>

	<p>
    Back to <a href="{{ shop.url }}">{{ shop.name }}</a> |
    <a href="#" onClick="history.back(); return false;">Previous page</a>
  </p>

{% include 'searchresults' %}
