{% comment %}
Photo Gallery Page Template

If this template is selected for a page, it'll automatically match up the page
handle with a corresponding product handle, and then display the "product"
images as a photo gallery using columns of fixed-width, varying-height images.
The page content is filled in as usual but the bulk of the actual content is
expected to come from the product images.

TODO: I think we can use the bulk of the product_img snippet to help here too.
Might need another product_context value, not sure.
{% endcomment %}
<article class="page gallery">
  <div>
{{ page.content }}
  </div>
  {% assign images = all_products[page.handle].images %}
  {% assign break1 = images.size | divided_by: 3 | round %}
  {% assign break2 = images.size | times: 2 | divided_by: 3 | round %}
  <div class="column">
  <!-- {% increment idx %} -->
  {% for img in images %}
    <img src="{{ img | img_url: '1200x' }}">
    {% if idx == break1 or idx == break2 %}
  </div>
  <div class="column">
    {% endif %}
    <!-- {% increment idx %} -->
  {% endfor %}
  </div>
</article>
{%- include 'instafeed' -%}
{%- include 'address' -%}
{%- include 'mailing_list' -%}
